fastapi
uvicorn
python-multipart
python-dotenv
PyMuPDF 
camelot-py
pypdf2
python-multipart
bcrypt
uvicorn
pandas
pdfplumber
azure-ai-formrecognizer 
azure-core
azure-ai-documentintelligence
pdfservices-sdk
pymupdf4llm
markitdown
boto3
llama-index
docling
apify_client